extends index.pug


block seo
  - let pageTitle = 'JavaScript mentor - Todd Wolfson';
  - let pageDescription = 'Hire a former Uber and startup software engineer as your JavaScript mentor';
  - let pageRobots = 'index, follow';
  include _partials/common-seo.pug

block header
  .row.pt-3
    .col-12
      h1 JavaScript mentor
      h2 Todd Wolfson
      hr.hr--header

block hero-pitch
  h3.h4 Work with a former Uber and startup software engineer as your mentor
  h4.h5 Learn all about JS quirks, from prototypal inheritance to the <code>this</code> keyword to ES6

block skills
  - skills.push({name: "JavaScript (9 years)", badgeClass: "badge-info"});
  - skills.push({name: "Node.js (7 years)", badgeClass: "badge-info"});
  - skills.push({name: "Express", badgeClass: "badge-info"});
  - skills.push({name: "Gulp", badgeClass: "badge-info"});
  - skills.push({name: "Karma", badgeClass: "badge-info"});
  - skills.push({name: "jQuery", badgeClass: "badge-info"});
  - skills.push({name: "Electron", badgeClass: "badge-info"});
  - skills.push({name: "HTML/CSS (14 years)"});
  - skills.push({name: "Python (6 years)"});
  - skills.push({name: "Ruby (4 years)"});
  - skills.push({name: "SQL (9 years)"});
  - skills.push({name: "Ruby on Rails (2 years)"});
  - skills.push({name: "bash"});
  - skills.push({name: "git"});
