extends index.pug

block seo
  - let pageTitle = 'JavaScript mentor - Todd Wolfson';
  - let pageDescription = 'Hire a former Uber and startup software engineer as your JavaScript mentor';
  - let pageRobots = 'index, follow';
  include _partials/common-seo.pug
