extends layout.pug

block seo
  //- Page isn't tracked so we can keep it light
  title Thank you!
  meta(name="robots", content="noindex")

block content
  h3.h4 Thank you!
  p.mb-0
    | Your submission has been received.
    br
    | I will reply within 24 hours (usually 1-2 hours).
