extends layout.pug

block seo
  //- Page isn't tracked so we can keep it light
  title Thank you!
  meta(name="robots" content="noindex")

block content
  .row
    .col-12
      .card
        .card-body
          h3.h4 Thank you!
          p
            | Your submission has been received.
            br
            | I will reply within 24 hours (usually 1-2 hours).
          p.mb-0
            a(href="/") Return to homepage
