// Define common variables
// https://github.com/twbs/bootstrap/blob/v4.5.2/dist/css/bootstrap.css#L21
$bs-primary-color: #007bff;
$bs-secondary-color: #6c757d;
$bs-text-color: #212529;
$xxs-breakpoint: 479px; // Based on: https://github.com/auipga/bootstrap-xxs

// Define our rules
// SECTION: Bootstrap-like rules
.badge-outline-primary {
  // Based on `btn-outline-secondary`
  border: 1px solid $bs-primary-color;
  color: $bs-primary-color;
}
.badge-outline-text {
  // Based on `btn-outline-secondary`
  border: 1px solid $bs-text-color;
  color: $bs-text-color;
}

.badge--text-normal {
  font-size: initial;
  font-weight: initial;
}

@media (max-width: $xxs-breakpoint) {
  // https://github.com/twbs/bootstrap/blob/v4.5.2/dist/css/bootstrap-grid.css#L428-L432
  .col-xxs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  // https://github.com/twbs/bootstrap/blob/v4.5.2/dist/css/bootstrap-grid.css#L1175-L1178
  .d-xxs-none {
    display: none !important;
  }
}

// SECTION: Page specific content
.hr--header {
  border-top: 3px solid $bs-text-color;
}

.hr--footer {
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.profile-section {
  // In-between `.mb-4` (1.5rem) and `.mb-5` (3rem)
  margin-bottom: 2.2rem;
}
