// Define common variables from Bootstrap
$bs-secondary-color: #6c757d;
$bs-text-color: #212529;

// Define our rules
// SECTION: Bootstrap-like rules
.badge-outline-text {
  // Based on `btn-outline-secondary`
  border: 1px solid $bs-text-color;
  color: $bs-text-color;
}

.badge--text-normal {
  font-size: initial;
  font-weight: initial;
}

// SECTION: Page specific content
.hr--header {
  border-top: 3px solid $bs-text-color;
}

.hr--footer {
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.profile-section {
  // In-between `.mb-4` (1.5rem) and `.mb-5` (3rem)
  margin-bottom: 2.2rem;
}
